<div class="container pt-4 pb-4">
    <h1>Thank you for testing out our demo app!</h1>

    <p>This demos some business functions for running a golf event. It's purpose is to show case my knowledge of building a complete modern web application. 
        From database design and implentation, to server API routes with JWT token authentication and elegant client side user interface. While not meant to be a perfect application this is simply a demo of coding skills and web development.
        I can build similar web applications to suite different buisness needs than golfing, as well as build such apps with different frameworks, languages, database systems and tools. 
        Simply fill out the contact request on our main site, or <a href="mailto:info@haymakercoding.com">email us</a>.
    </p>
    <p>
        — Malcolm Roy
        <br>
        <i>Lead Software Engineer @ Haymaker Coding</i>
    </p>

    <a target="_blank" rel="noopener" href="https://www.haymakercoding.com">Return to Haymaker Coding</a>

    <img class="mx-auto d-block mt-5" src="/assets/logo.png">
</div>