.demo-title{
    position: absolute;
    top:20px;
    left:30px;
    font-size:14px;
}
.name-container{
    position: relative;
    height:80%;
}
.mat-toolbar{
    background-color:white;
    color: #333;
}