<div class="container-fluid">
    
    <div *ngIf="loading === false" class="inner-container pt-4 pb-4">

        <h1 class="text-center text-md-left">Upcoming Golf Trips</h1>

        <div *ngFor="let trip of trips">
            <div class="row trip-container mt-3" routerLink="/trip/{{ trip.id }}">
                <div class="col-5 col-md-3" style="height:100%; background-size: cover; background-position: center;" [style.backgroundImage]="'url(' + trip.imageSmallURL + ')'">
                    
                </div>
                <div class="col-7 col-md-9 p-3">
                    <h2 class="fun-text">{{ trip.name }}</h2>
                    <h3>{{ trip.tripDate | date }}</h3>
                    <p>{{ trip.description }}</p>
                </div>
                
            </div>
            
            
        </div>

    </div>


</div>
